<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets">
    <name>Colorful favstar</name>
    <description  xml:lang="en">Favstar is displayed like favotter.</description>
    <description  xml:lang="ja">favstarをふぁぼったーのように表示します。</description>
    <access origin="http://favstar.fm/"/>
    <access origin="http://ja.favstar.fm/"/>
    <access origin="http://de.favstar.fm/"/>
    <access origin="http://es.favstar.fm/"/>
    <author href="http://www.tunsns.net/" email="arc@tunsns.net">Arc Cosine</author>
    <icon width="128" height="128" src="icons/colorful.png" />
    <content src="index.html" type="text/html" encoding="UTF-8" />
</widget>
