@charset"UTF-8";

#fs-feed-list > li > .fs-tweet > .fs-content > p.cofav2 {
	font-weight: bold;
	color: #008e00;
}

#fs-feed-list > li > .fs-tweet > .fs-content > p.cofav3, #fs-feed-list > li > .fs-tweet > .fs-content > p.cofav4 {
	font-weight: bold;
	color: #5f008f;
}

#fs-feed-list > li > .fs-tweet > .fs-content > p.cofav5 {
	font-weight: bold;
	color: #f40000;
}

