@charset "UTF-8";

html, body, dl, dt, dd, h1 {
  padding: 0px;
  margin: 0px;
}

dt {
  line-height: 1.5;
}

dd {
  margin-left: 1em;
  line-height: 1.5;
}

body {
  font-size: 16px;
}

h1 {
  font-size: 16px;
  font-weight: normal;
}
